<%- flash.each do |name, message| %>
	<% if name == "success" %>
  	<div style='color:white;background-color:green;'><%= message %></div>
  <% elsif name == "notice" %>
    <div style='color:white;background-color:red;'><%= message %></div>
  <% end %>
<%- end %>